body {
    background: rgb(48,48,48);
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(108, 182, 255);
    text-decoration: none;
    font-weight: bold;
}
#Xcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    margin: 90px 0;
}

button {
    background: rgb(25, 118, 210);
    border: none;
    border-radius: 7px;
    padding: 10px;
    color: white;
    margin: 2px;
}

button:hover{
    padding: 9px;
    border: 1px solid orange;
}

button[disabled]{
    background: rgb(48,48,48);
    border: 1px solid gray;
    color: gray;
    padding: 9px;
}

button.light{
    background: rgb(48,48,48);
    color: #444;
    border: 1px solid #444;
    padding: 9px;
}

button.light:hover{
    background: indigo;
    color: orange;
}

#login button{
    width: 100%;
    margin: 0;
}

.danger{
    background: crimson;
}
body fieldset {
    border-radius: 10px;
    display: inline-block;
}

code {
    font-weight: bold;
    color: orange;
}

.wide input, textarea{
    width: 600px;
}

th {
    padding: 10px;
}
input:-webkit-autofill{
    filter: none;
    box-shadow: 0 0 0 100px rgb(38, 103, 152) inset;
}
input, textarea{
    border: 1px solid gray;
    border-radius: 5px;
    background: rgb(48,48,48);
    padding: 7px;
    color: white;
    caret-color: white;
    margin: 2px;
    -webkit-text-fill-color: white;
}

input:disabled{
    color: gray;
    -webkit-text-fill-color: gray;
}

fieldset th,
form th{
    text-align: right;
}

.centered,
.centered input,
.centered th,
.centered th{
    text-align: center;
}

.hidden{
    display: none;
}

.warning{
    color: yellow;
}

.error{
    background-color: red;
}

legend {
  position: relative;
  top: 3px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px 3px 0 3px;
}

#ad {
  position: fixed;
  bottom: 0;
  width: 100%;
}
ul{
    display: inline-block;
    text-align: left;
}

#bubble {
  --c: indigo;
  background: var(--c);
  color: orange;
  padding: .5em 1em;
    position: absolute;
    top: 16px;
    left: 100%;
    width: 220px;

  border-radius: 0 .25em .25em .25em;
  &::after {
    content: '';
    position: absolute;
    border: .5em solid transparent;
    border-top-color: var(--c);
    border-right-color: var(--c);
    right: 100%;
    top: 0%;

    // magic
    transform: skewY(20deg);
    transform-origin: 100% 100%;
  }
}
.permissions button{
  background: orange;
  color: black;
}

.permissions button span{
    display: none;
}

.permissions button:hover span{
    display: initial;
}