body {
    background: black;
    color: white;
}

body fieldset {
    border-radius: 10px;
    display: inline-block;
}

a {
  color: yellow;
}

input, textarea{
    width: 600px;
}

input:disabled{
    color: white;
    background-color: gray;
}

fieldset th,
form th{
    text-align: right;
}

.hidden{
    display: none;
}

.warning{
    color: yellow;
}

.error{
    background-color: red;
}