<meta charset="UTF-8">
<title>{title}</title>
<style>
    body{
        background-color: #555;
        color: #eeffee;
    }
    label{
        display: block;
    }
    fieldset{
        border-radius: 10px;
        display: inline;
        margin: 0 auto;
    }
</style>